/* Header */

html {
    scroll-behavior: smooth;
  }

.jumbotron {
    height: 100vh;
    text-align: center;
    background-image: url(assets/homepagebg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    margin-top: 15%;
}



.jumbotron h1{    
    color: white;
    margin-bottom: 50px;
}


.jumbotron p {
    color: white;
    margin-bottom: 30px;
}

.jumbotron a:hover{
    background-color: pink;
}


div .a {
  margin-left: 50px;
}

.infographic div {
  right: clear;
}


.breathing img,{
  margin: 10px;
  float: left;
}

.breathing {
  margin: 5% 0;
}

/* Form*/

#form{
  margin-top: 10%;
}

.form-title {
    margin-bottom: 40px 0;
}

.form-style-5{
	max-width: 1000px;
	padding: 40px 40px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.7rem;
	margin: 20px 0;
}
.form-style-5 label {
    margin: 15px;
}



.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	background: purple;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 input[type="checkbox"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: purple;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: purple;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid purple;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: purple;
}


html, body { height: 100%; }
canvas {
  display: block;
  height: 100%;
  width: 100%;
}


.spetrogram-title{
  margin-top: 10%;
}


.spectrogram-title h2,
.spectrogram-title p{
  float: left;
  color:black;
}

.spectrogram{
    margin: 50px 0;
}




/* Audio controls*/

#controls {
    display: flex;
    margin-top: 2rem;
    max-width: 28em;
  } 

.audio button {
    flex-grow: 1;
    height: 3.5rem;
    min-width: 2rem;
    border: none;
    border-radius: 0.15rem;
    background: #ed341d;
    margin-left: 2px;
    box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .audio button:hover, button:focus {
    outline: none;
    background: #c72d1c;
  }
  
  .audio button::-moz-focus-inner {
    border: 0;
  }
  
  button:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 3rem;
  }
  
  .audio button:disabled {
    pointer-events: none;
    background: lightgray;
  }
  .audio button:first-child {
    margin-left: 0;
  }
  
  audio {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
  }
  
  li {
    list-style: none;
    margin-bottom: 1rem;
  }
  
  #formats {
    margin-top: 0.5rem;
    font-size: 80%;
  }
  
  #recordingsList{
      max-width: 28em;
  }